*{text-transform:capitalize;}
body {background-color: #ececec;}
button {   border: #eeeded 0px solid; background-color: #eeeded;  }
a { text-decoration: none; color: black;}
/* sale */
.sale {      width: 100%; height:60px;      }
/* banner */
.banner {   background-color: white; border: #ececec 2px solid; background-color: #ececec; margin: 2px; margin-top: 10px; margin-bottom: -5px;
    margin-left: auto; margin-right: auto;    }
.table { background-color: #ececec ;}
.home {  width: 50px;    }
#market {width: 100px;}
#mobile { width: 120px;}
#games { padding-right: -10px; }
#market , #mobile , #ss , #tvs , #electronics , #home-kitchen , #appllances , #health ,
#mom , #toy , #games{    text-align: center; margin: 3px; margin: auto; background-color: #ececec;    }
/* search */
.rr {   margin-left: auto; margin-right: auto;}
.we {   width: 415px; height: 40px; font-size: 21px;   }
.ww {    width: 60px; background-color: rgb(238, 156, 5); height: 40px; border-radius: 3px;     }
.ww:hover { background-color: white; color: rgb(238, 156, 5); border: black 1px solid;    }
.qw {   font-size: 16px; color: whitesmoke;   }
.qw:hover {    color: rgb(185, 122, 3);    }
/* main */
.ttt {  margin-left: auto; margin-right: auto;}
.oil {   width: 230px; height: 300px; border: wheat 2px solid;
     padding: -5px; background-color: white; margin-left: 5px; margin-bottom: 10px;  }
#il {width: 220px;  }
.coffe {   width: 230px; height: 300px; border: wheat 2px solid;
    padding: -5px; background-color: white; margin-left: 5px; margin-bottom: 10px;   }
#ff {width: 220px;  }
.cleaner {   width: 230px; height: 300px; border: wheat 2px solid;
    padding: -5px; background-color: white; margin-left: 5px; margin-bottom: 10px;   }
#er {width: 220px;  }
.fairy {   width: 230px; height: 300px; border: wheat 2px solid;
    padding: -5px; background-color: white; margin-left: 5px; margin-bottom: 10px;   }
#ry {width: 220px;  } 
.btn :hover { background-color: #ececec; color: rgb(238, 156, 5) ;}
